@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@font-face {
  font-family: intro;
  /* Имя шрифта */
  src: url(fonts/intro.otf);
  /* Путь к файлу со шрифтом */ }

@-webkit-keyframes swing {
  15% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px); }
  30% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px); }
  40% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px); }
  50% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px); }
  65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes swing {
  15% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px); }
  30% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px); }
  40% {
    -webkit-transform: translateX(9px);
    transform: translateX(9px); }
  50% {
    -webkit-transform: translateX(-9px);
    transform: translateX(-9px); }
  65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px); }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.swing:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1; }

@-webkit-keyframes move {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

@keyframes move {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); }
  100% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9); } }

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse; }

body {
  background: #f0f0d0 !important; }

#go-top {
  z-index: 9;
  position: fixed;
  bottom: 24px;
  right: 70px;
  text-align: center;
  cursor: pointer;
  display: none;
  width: 100px;
  height: 32px;
  background: #135058BF;
  line-height: 30px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #ffffff;
  font-family: intro;
  font-size: 27px;
  border: 3px;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }
  #go-top:hover {
    background: #000; }

.gradient_link {
  margin: 30px auto 0;
  display: inline-block;
  padding: 10px 70px 15px;
  font-size: 48px;
  color: #201e1e;
  text-decoration: none;
  position: relative;
  background-color: #ccc;
  background-image: -webkit-gradient(linear, left top, right top, from(#135058), to(#f1f2b5));
  background-image: -webkit-linear-gradient(left, #135058, #f1f2b5);
  background-image: -o-linear-gradient(left, #135058, #f1f2b5);
  background-image: linear-gradient(to right, #135058, #f1f2b5);
  -webkit-backface-visibility: hidden;
  z-index: 1; }

.gradient_link:hover {
  z-index: 9;
  text-decoration: none;
  color: #201e1e; }

.gradient_link:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#f1f2b5), to(#135058));
  background-image: -webkit-linear-gradient(left, #f1f2b5, #135058);
  background-image: -o-linear-gradient(left, #f1f2b5, #135058);
  background-image: linear-gradient(to right, #f1f2b5, #135058);
  -webkit-transition: opacity 1.1s ease-out;
  -o-transition: opacity 1.1s ease-out;
  transition: opacity 1.1s ease-out;
  z-index: 2;
  opacity: 0; }

.gradient_link:hover:after {
  opacity: 1; }

.gradient_link span {
  position: relative;
  z-index: 3; }

.top {
  background: -webkit-gradient(linear, left top, right top, from(#135058), to(#f1f2b5));
  background: -webkit-linear-gradient(left, #135058, #f1f2b5);
  background: -o-linear-gradient(left, #135058, #f1f2b5);
  background: linear-gradient(to right, #135058, #f1f2b5);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10; }
  .top #header_nav_menu {
    display: block; }
  .top #pull {
    display: none; }
  .top img {
    padding: 10px 0 30px;
    max-width: 100%; }
  .top .menu_min {
    float: right; }
  .top ul {
    padding: 43px 0;
    margin: 0; }
    .top ul li {
      display: inline-block; }
      .top ul li a {
        font-family: 'Oswald', sans-serif;
        font-size: 30px;
        color: #201e1e;
        padding: 0 15px; }
        .top ul li a:hover {
          text-decoration: none; }

.first_page {
  overflow: hidden;
  margin: 175px 0 100px; }
  .first_page img {
    max-width: 100%;
    margin: 0 auto;
    display: block; }
  .first_page .text {
    max-width: 80%;
    margin: 70px auto 0;
    text-align: center; }
    .first_page .text p {
      font-family: 'Roboto', sans-serif;
      font-size: 50px;
      margin: 70px 0;
      color: #201e1e; }

.topic {
  text-align: center; }
  .topic h2 {
    font-size: 82px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 80px;
    color: #2b3d38; }
  .topic p {
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-size: 36px;
    color: #2b3d38;
    padding: 0 30px; }

.reasons .reasons_top {
  text-align: center;
  margin: 90px 0; }
  .reasons .reasons_top h3 {
    font-size: 82px;
    font-family: 'Oswald', sans-serif; }

.reasons .heart_pic {
  display: block;
  margin: 120px auto 0;
  max-width: 100%;
  -webkit-animation: move 2s infinite ease-in-out;
          animation: move 2s infinite ease-in-out; }

.reasons p {
  font-size: 36px;
  text-align: center;
  margin-bottom: 70px; }

.reasons ul {
  list-style: none;
  margin: 0; }
  .reasons ul li {
    position: relative; }
  .reasons ul li:before {
    position: absolute;
    top: 20px; }
  .reasons ul li:first-child:before {
    content: url(../img/num_1.png); }
  .reasons ul li:nth-child(2):before {
    content: url(../img/num_2.png);
    left: 90px; }
  .reasons ul li:nth-child(3):before {
    content: url(../img/num_3.png); }
  .reasons ul li:nth-child(4):before {
    content: url(../img/num_4.png);
    left: 90px; }
  .reasons ul li:nth-child(5):before {
    content: url(../img/num_5.png); }

.reasons .first_p {
  width: 90%;
  margin-left: auto; }

.reasons .second_p {
  width: 80%;
  margin-left: auto; }

.reasons .bottom {
  text-align: center; }

.judge {
  overflow: hidden; }
  .judge .judge_top {
    text-align: center;
    display: none; }
    .judge .judge_top h3 {
      margin-bottom: 100px;
      color: #2b3d38;
      font-size: 82px;
      font-family: 'Oswald', sans-serif; }
  .judge .judge_item {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    margin: 100px auto;
    max-width: 70%; }
    .judge .judge_item .transition_text {
      background: #135058BF;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -175px;
      color: #fff;
      -webkit-transition: all 1s;
      -o-transition: all 1s;
      transition: all 1s;
      padding: 20px; }
      .judge .judge_item .transition_text h4 {
        font-size: 40px;
        font-family: Oswald; }
      .judge .judge_item .transition_text p {
        font-family: Roboto;
        font-size: 25px; }
      .judge .judge_item .transition_text .transition_text_main p {
        font-size: 18px; }
    .judge .judge_item img {
      max-width: 100%;
      margin: 0 auto;
      display: block; }
    .judge .judge_item:before {
      content: url(../img/scotch.png);
      position: absolute;
      top: -90px;
      left: 0;
      right: 0;
      margin: 0 auto;
      display: block;
      width: 200px; }
    .judge .judge_item:hover .transition_text {
      bottom: 0; }
  .judge .judge_img {
    display: block;
    margin: 150px auto 0; }
  .judge .cherep {
    max-width: 100%;
    margin-top: 150px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }
    .judge .cherep:hover {
      -webkit-transform: rotateZ(20deg);
      -ms-transform: rotateZ(20deg);
      transform: rotateZ(20deg); }

.speakers .top_speak {
  text-align: center; }
  .speakers .top_speak h3 {
    margin-bottom: 100px;
    color: #2b3d38;
    font-size: 82px;
    font-family: 'Oswald', sans-serif; }

.speakers .speakers_item_2 a {
  min-height: 180px; }

.speakers .speakers_item {
  max-width: 75%;
  margin: 0 auto; }
  .speakers .speakers_item a {
    font-family: 'Oswald', sans-serif;
    color: #2b3d38;
    font-size: 60px;
    margin: 30px 0;
    display: inline-block; }
    .speakers .speakers_item a:hover {
      text-decoration: none; }
  .speakers .speakers_item p {
    font-family: Roboto;
    color: #201e1e;
    font-size: 25px; }
  .speakers .speakers_item img {
    display: block;
    margin: 0 auto;
    max-width: 100%; }

.partners .top_partners {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 180px; }
  .partners .top_partners h3 {
    font-family: 'Oswald', sans-serif;
    color: #2b3d38;
    font-size: 82px; }

.partners .partners_items img {
  display: block;
  margin: 0 auto 150px;
  max-width: 80%; }

.partners .skeleton {
  position: relative; }
  .partners .skeleton img {
    position: absolute;
    top: -280px;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: 100%; }

.partners .bottom {
  text-align: center; }

.schedule .schedule_top {
  margin-top: 75px;
  text-align: center; }
  .schedule .schedule_top h3 {
    font-family: 'Oswald', sans-serif;
    color: #2b3d38;
    font-size: 82px; }

.schedule .text {
  max-width: 70%;
  margin: 80px auto 100px;
  text-align: left; }
  .schedule .text h4 {
    font-family: 'Oswald', sans-serif;
    color: #2b3d38;
    font-size: 62px;
    margin-bottom: 80px; }
  .schedule .text p {
    font-size: 25px; }

.location .location_top {
  text-align: center; }
  .location .location_top h3 {
    font-family: 'Oswald', sans-serif;
    color: #2b3d38;
    font-size: 82px;
    display: inline-block;
    margin-bottom: 80px; }
  .location .location_top p {
    font-size: 60px;
    font-family: Roboto;
    color: #2b3d38; }

.location .location_main {
  position: relative; }
  .location .location_main img {
    display: block;
    max-width: 100%;
    margin: 0 auto; }
  .location .location_main a {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    margin: 0 auto;
    display: block;
    width: 350px;
    text-align: center;
    background: #2c6262;
    padding: 15px 0;
    font-size: 60px;
    color: #fff;
    font-family: Roboto; }
    .location .location_main a:hover {
      text-decoration: none; }

.contacts .contacts_top {
  margin: 100px 0 150px;
  text-align: center; }
  .contacts .contacts_top h3 {
    font-family: 'Oswald', sans-serif;
    color: #2b3d38;
    font-size: 82px;
    display: inline-block; }

.contacts .main {
  margin-left: 50px;
  margin-bottom: 100px; }
  .contacts .main p {
    font-size: 50px;
    font-family: Roboto;
    color: #2b3d38; }
    .contacts .main p a {
      color: #2b3d38; }
      .contacts .main p a:hover {
        color: #2b3d38;
        text-decoration: none; }

.contacts .buttons {
  text-align: center;
  margin-bottom: 100px; }

.contacts .bottom {
  text-align: center;
  margin-bottom: 100px; }
  .contacts .bottom p {
    font-size: 81px;
    font-family: 'Oswald', sans-serif;
    color: #2b3d38; }

.footer {
  width: 100%;
  height: 1050px;
  background-image: url(../img/haus.png);
  background-position: center center;
  background-repeat: no-repeat; }

@media screen and (max-width: 1550px) {
  .first_page .text {
    margin-top: 0; }
  .first_page .text p {
    margin: 30px 0; }
  .first_page .text p, .first_page .text a, .reasons .bottom a, .speakers .speakers_item a, .schedule .text h4, .location .location_top p, .contacts .main p, .contacts .buttons a {
    font-size: 30px; }
  .topic h2, .reasons .reasons_top h3, .judge .judge_top h3, .speakers .top_speak h3, .partners .top_partners h3, .schedule .schedule_top h3, .location .location_top h3, .contacts .contacts_top h3, .contacts .bottom p {
    font-size: 60px; }
  .topic p, .reasons p, .speakers .speakers_item p, .schedule .text p, .location .location_main a {
    font-size: 20px; }
  .speakers .speakers_item_2 a {
    min-height: 90px; }
  .reasons .first_p {
    max-width: 75%; }
  .reasons .second_p {
    width: 63%; }
  .reasons ul li:nth-child(2):before, .reasons ul li:nth-child(4):before {
    left: 50px; }
  .partners .partners_items img {
    margin: 0 auto 100px; }
  .partners .top_partners {
    margin-bottom: 100px; }
  .partners .skeleton img {
    top: -150px; }
  .schedule .text h4 {
    margin-bottom: 40px; }
  .location .location_main a {
    width: 250px; } }

@media screen and (max-width: 1596px) {
  .judge .judge_item .transition_text {
    bottom: -210px; }
  .judge .judge_item .transition_text p {
    font-size: 20px; } }

@media screen and (max-width: 1399px) {
  .judge .judge_item .transition_text {
    bottom: -155px; }
  .judge .judge_item .transition_text .transition_text_main p {
    font-size: 14px; }
  .judge .judge_item .transition_text p {
    font-size: 16px; } }

@media screen and (max-width: 1291px) {
  .judge .judge_item .transition_text {
    bottom: -170px; } }

@media screen and (max-width: 1280px) {
  .top ul li a {
    padding: 0 10px; }
  .top img {
    padding: 20px 0 30px;
    max-width: 250px; }
  .top ul {
    padding: 30px 0; } }

@media screen and (max-width: 1139px) {
  .judge .judge_item .transition_text {
    bottom: -190px; }
  .judge .judge_item .transition_text h4 {
    font-size: 35px; } }

@media screen and (max-width: 1080px) {
  .top ul {
    display: none; }
  .top #pull {
    display: block;
    position: absolute;
    top: 33px;
    right: 30px;
    font-size: 25px;
    cursor: pointer; }
  .top #header_nav_menu {
    display: none;
    -webkit-box-shadow: 0 0 30px #c5c5c5;
            box-shadow: 0 0 30px #c5c5c5;
    position: fixed;
    right: 20px;
    top: 120px;
    background: #fff;
    list-style: none;
    padding: 20px;
    background: #f1f2b5; }
    .top #header_nav_menu li {
      display: block; } }

@media screen and (max-width: 1067px) {
  .judge .judge_item .transition_text {
    bottom: -215px; } }

@media screen and (max-width: 991px) {
  .judge .judge_img, .judge .cherep {
    display: none; }
  .judge .judge_item:before {
    display: none; }
  .judge .judge_top {
    display: block; }
  .partners .skeleton {
    display: none; }
  .reasons .bottom {
    margin-bottom: 100px; }
  .judge .judge_item .transition_text {
    bottom: -170px; } }

@media screen and (max-width: 952px) {
  .judge .judge_item .transition_text {
    bottom: -195px; } }

@media screen and (max-width: 892px) {
  .judge .judge_item .transition_text {
    bottom: -210px; } }

@media screen and (max-width: 767px) {
  .first_page .swing {
    display: none; }
  .contacts .buttons a {
    margin-bottom: 50px; }
  .reasons .heart_pic {
    margin: 40px auto; }
  .partners .bottom a {
    padding: 10px 30px 15px; }
  .reasons ul li:nth-child(2n):before {
    left: -30px; }
  .reasons ul li:nth-child(odd):before {
    left: -50px; }
  .judge .judge_item {
    margin: 0 auto 100px; }
  .judge .judge_item .transition_text {
    bottom: -125px; }
  .reasons .reasons_top {
    margin: 90px 0 0; }
  .reasons .heart_pic {
    max-width: 35%; }
  .speakers .speakers_item_2 a {
    min-height: 100%; } }

@media screen and (max-width: 667px) {
  .judge .judge_item .transition_text {
    bottom: -150px; } }

@media screen and (max-width: 547px) {
  .judge .judge_item .transition_text {
    bottom: -170px; }
  .partners .partners_items img {
    margin: 0 auto 50px; }
  .partners .top_partners {
    margin-bottom: 100px; } }

@media screen and (max-width: 484px) {
  .judge .judge_item .transition_text {
    bottom: -190px; } }

@media screen and (max-width: 484px) {
  .judge .judge_item .transition_text {
    bottom: -215px; } }

@media screen and (max-width: 375px) {
  .judge .judge_item .transition_text {
    bottom: -240px; } }

@media screen and (max-width: 350px) {
  .judge .judge_item .transition_text {
    bottom: -260px; } }
